@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.xtech-icons{
    background-color:rgba(39, 15, 255, 0.35);
    border-radius: 5px;
    display: flex;
    padding:30px;
    justify-content: space-around;
    align-items: center;
    margin-top:30px;
}




.xtech-icons h3{
    font-family: 'Inter';
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
    margin-right: 20px;
}
.xtech-icons img{
    width: 80px;
    margin-bottom: 10px;
    background-color:rgba(8, 13, 82, 0.286);
    padding: 20px;
    border-radius: 5px;
}

.d-flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}